body{
    background: linear-gradient(to bottom right, #b14b9e, #7a41db);
    margin: 20px;
}
.container{
    width: 95%;
    height: 80vh;
    display: flex;
    text-align: center;
}
.quotes{
    border: 12px solid rgb(116, 223, 196);
    width: 650px;
    height:450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    background-color: #fff;
}
.quotes p{
    font-style:normal;
    color:rgb(253, 148, 109);
}
.quotes h3{
    font-style: italic;
    color:#9561f0;
}
.quotes p, .quotes h3{
font-size: 30px;
}
@media screen and (max-width:680px)
{
    .quotes p, .quotes h3{
        font-size: 25px;
        }  
}